.sign-page {
    background-color: #EBECF0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
    padding: 20px;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    /* round corners */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.sign-page .segment {
    padding: 32px 0;
    text-align: center;
}

.sign-page button,
.sign-page input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 20px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

.sign-page button {
    background-color: #4B70E2;
}

.sign-page label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

.sign-page input {
    margin-bottom: 20px; /* Add margin bottom to create space between input elements */
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

.sign-page input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}


.sign-page button {
    color: #ffffff;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

.sign-page button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.sign-page button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.sign-page button .icon {
    margin-right: 8px;
}

.sign-page button.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
}

.sign-page button.unit .icon {
    margin-right: 0;
}

.sign-page button.red {
    display: block;
    width: 100%;
    color: #AE1100;
}

.sign-page .input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sign-page .input-group label {
    margin: 0;
    flex: 1;
}
